{{!-- Notificacion de solicitud de comision --}}
<!DOCTYPE html>
<html>
<head>
    <title>Nueva solicitud</title>
</head>
<body>
    <h1>¡Hola, {{nombre}}!</h1>
    <p>Acabas de recibir una nueva solicitud de comisión:</p>
    <h2>Detalles:</h2>
    <p>Nombre del solicitante: {{solicitante}}</p>
    <p>Descipcion: {{descripcion}}</p>
    <p>Comision elegida: {{comision}}</p>
</body>
</html>